@model ResellerLoungeMe.Models.TicketViewModel

<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="buyTicketModalLabel">@Model.LoungeName</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <form role="form" id="buy-ticket-form" method="post" autocomplete="off">
                        @Html.HiddenFor(w => w.LoungeId)

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>First Name</label>
                                    <input asp-for="Name" class="form-control" placeholder="" aria-label="First Name..." type="text">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Last Name</label>
                                    <input asp-for="Surname" type="text" class="form-control" placeholder="" aria-label="Last Name...">
                                    <span asp-validation-for="Surname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Email Address</label>
                                    <input asp-for="Email" type="email" class="form-control" placeholder="">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Expiry Date</label>
                                    <input asp-for="ExpireDate" type="date" class="form-control" placeholder="" aria-label="Expire Date..." onchange="$('#expiryDate').html(this.value)">
                                    <span asp-validation-for="ExpireDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Country</label>
                                    <select asp-for="PhonePrefix" class="form-control" id="CountryCodes" style="width:100%">
                                        <option value=""></option>
                                    </select>
                                    <span asp-validation-for="PhonePrefix" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Phone</label>
                                    <input asp-for="Phone" type="text" class="form-control" placeholder="" aria-label="Phone number...">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-6 form-group">
                                    <label>Number of Adults</label>
                                    <input min="1" asp-for="AdultCount" type="number" onchange="$('#adultNumber').html(this.value); $('#totalPrice').html(this.value * @Model.Price)" class="form-control" placeholder="" aria-label="Number of adults..." value="1">
                                    <span asp-validation-for="AdultCount" class="text-danger"></span>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label>Number of Children</label>
                                    <input min="0" asp-for="ChildCount" type="number" onchange="$('#childNumber').html(this.value)" class="form-control" placeholder="" aria-label="Number of children..." value="0">
                                    <span asp-validation-for="ChildCount" class="text-danger"></span>
                                </div>
                                <span>*Free entry age: Children under @Model.ChildPolicy years</span>

                            </div>
                            <div class="col-md-12">
                                <button type="submit" asp-action="BuyTicket" asp-controller="Ticket" class="btn bg-gradient-info w-100">Buy</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="row card p-3 m-3">
                        <h4 class="text-info text-gradient">@Model.City/ @Model.Country</h4>
                        <h6>@Model.AirportName</h6>
                        <h6>@Model.Terminal / @Model.Direction </h6>
                    </div>
                    <div class="row card p-3 m-3">
                        <h5><span id="adultNumber">1</span> Adult(s) & <span id="childNumber">0</span> Child(ren) </h5>
                        <h5>Expiry Date: <span id="expiryDate"></span></h5>
                        <h4>Total: $<span id="totalPrice">@Model.Price</span></h4>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn bg-gradient-dark" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>